<div class="card">
    <div class="card-img-top">
        <img src="{{sprites.front_default}}" alt="{{name}}">
    </div>

    <div class="card-body">
        <h2 class="card-title">{{name}}</h2>
        <p class="card-title">{{weight}}</p>
        <p class="card-text">{{height}}</p>

        <p class="card-text"><b>Умения</b></p>
        <ul class="list-group">
            {{#each abilities}}
            <li class="list-group-item">{{ability.name}}</li>
            {{/each}}
        </ul>
 
    </div>
</div>